html {
  display: block;
}
header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  height: 80px;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.logo {
  display: flex;
  align-items: center;
  padding-left: 30px;
  flex-grow: 1;
}
.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}
.logo span {
  color: mediumaquamarine;
}
header nav {
  padding-right: 40px;
  display: block;
  color: black;
}
.nav span {
  display: inline-block;
  padding: 20px 10px;
}
a {
  color: black;
}
div {
  border: 1px solid black;
}
.content {
  display: flex;
  width: 1232px;
  margin: 0 auto 78px auto;
  padding-top: 116px;
}
p {
  display: block;
}
.column.large {
  width: 630px;
}
.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}
h2 {
  display: block;
  font-weight: bold;
}
.fall-cancelled.image-content {
  background-image: url(./images/img-story-2.png)
}
.image-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  margin-top: 15px
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}
div {
  display: block;
}
.lead-story .image-content {
  background-image: url(./images/img-story-main.png);
  width: 630px;
  margin-top: 0;
  font-size: 40px;
  text-align: left;
}
.lead-story .image-content span {
  margin-left: 20px;
}
.narrative {
  margin: 16px;
}
.stories {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}
.story {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.stories .text-content {
  height: 250px;
}
.pop-culture.image-content {
  background-image: url(./images/img-story-3.png);
}
